body {
  background: linear-gradient(141deg, #A8DADC 0%, #A8DADC 15%, #FFC1CF 75%);
  padding-top: 100px;
}
#div1 {
  font-size:48px;
  position: fixed;
  top: 20px; 
  left: 1150px;
  font-size: 50px;
  pointer-events: none;
  color: white;
}
a[href^="#"] {
   color: dark blue;
   font-size: 16px;
}
